<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard Loja Gamer</title>
</head>
<body>
<div class="conteiner">
  <main class="main-conteiner">
    <section class="cards">
      <div class="card">
        <h3><span>💰</span> Vendas do Dia</h3>
        <p>R$ 1.250,00</p>
      </div>
      <a class="card" mat-list-item routerLink="/products">
      <div>
        <h3><span>📦</span> produtos cadastrados: <p>{{ productCount }}</p></h3>
    </div>
    </a>
      <div class="card">
        <h3><span>👥</span> Clientes Atendidos</h3>
        <p>22</p>
      </div>
      <div class="card warning">
        <h3><span>⚠️</span> Estoque Baixo <p>
          <!-- chama o estoque baixo-->
          {{ estoqueBaixo }} produto{{ estoqueBaixo === 1 ? '' : 's' }}</p></h3>
        
      </div>
    </section>
    <section class="charts">
      <!--Gráfico-->
      <div class="chart">
        <app-grafico-vendas></app-grafico-vendas>
      </div>
    </section>
  </main>
</div>
</body>
</html>

