<div class="conteiner">
  <main class="main-conteiner">
    <section class="cards">
      <div class="card">
        <h3><span>💰</span> Total de Lucro</h3>
        <p class="valor">R$ {{ totalLucro | number:'1.2-2' }}</p>
      </div>
      <a class="card" mat-list-item routerLink="/products">
        <div>
          <h3><span>📦</span> Produtos Cadastrados: <p>{{ productCount }}</p></h3>
        </div>
      </a>
      <div class="card">
        <h3><span>👥</span> Clientes Atendidos</h3>
        <p>{{ vendaCount }}</p>
      </div>
      <a class="card warning" mat-list-item routerLink="/estoque-baixo">
        <div>
          <h3><span>⚠️</span> Estoque Baixo: <p>{{ estoqueBaixo }} produto{{ estoqueBaixo === 1 ? '' : 's' }}</p></h3>
        </div>
      </a>
    </section>
    <section class="charts">
      <div class="chart">
        <app-grafico-vendas></app-grafico-vendas>
        <app-grafico-produtos-vendidos></app-grafico-produtos-vendidos>
      </div>
    </section>
  </main>
</div>