/* Layout geral do formulário */
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  /* Campos que devem ocupar a linha toda */
  mat-form-field.full-width {
    grid-column: span 2;
  }
  
  /* Card */
  mat-card {
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Título principal */
  mat-card-title.titulo {
    font-size: 26px;
    color: #3f51b5;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Subtítulos das seções */
  .subtitulo {
    grid-column: span 2;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 20px 0 10px 0;
  }
  
  /* Campos de formulário */
  mat-form-field {
    width: 100%;
  }
  
  /* Botões */
  .botoes {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  button {
    height: 45px;
    min-width: 120px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    color: #fff;
    transition: all 0.3s ease;
  }
  .btnSave{
    background-color: #2e7d32;
  }
  .btnCancel{
    background-color: #d32f2f;
  }
  
  /* Estilo botão salvar */
  button.mat-raised-button {
    background-color: #388e3c;
    color: white;
  }
  
  button.btnSave:hover {
    background-color: #145719;
  }
  
  /* Estilo botão cancelar */
  button.mat-stroked-button {
    border: 1px solid #d32f2f;
    color: #d32f2f;
    background-color: white;
  }
  
  button.btnCancel:hover {
    background-color: #6b0f0f;
  }

  mat-form-field.full-width {
    grid-column: span 2;
  }


  

  
  /* Responsividade opcional */
  @media (max-width: 768px) {
    form {
      grid-template-columns: 1fr;
    }
    .subtitulo, .botoes {
      grid-column: span 1;
    }
  }
  