<mat-card>
  <button mat-raised-button (click)="navigateToProductCreate()" color="primary">
    Novo Produto
  </button>
  <button mat-raised-button (click)="toggleEstoqueBaixo()" color="warn">
    {{ mostrarEstoqueBaixo ? 'Mostrar Todos os Produtos' : 'Mostrar Estoque Baixo' }}
  </button>
  <input 
    type="text" 
    placeholder="Pesquisar produto" 
    [(ngModel)]="searchTerm" 
    (input)="filterProducts()"
    class="pesquisa">
  <app-product-read [products]="filteredProducts"></app-product-read>
</mat-card>