<mat-card>
  <mat-card-title class="titulo">Excluir Produto</mat-card-title>
  <div class="scrollable-form">
    <form>
      <!-- Nome do Produto -->
      <mat-form-field appearance="outline">
        <mat-label>Nome do Produto</mat-label>
        <mat-icon matPrefix>inventory_2</mat-icon>
        <input matInput placeholder="Nome" [value]="product.proNome" disabled>
      </mat-form-field>

      <!-- Quantidade em Estoque -->
      <mat-form-field appearance="outline">
        <mat-label>Quantidade em Estoque</mat-label>
        <mat-icon matPrefix>stacked_bar_chart</mat-icon>
        <input matInput type="number" [value]="product.proQuantidadeEstoque" disabled>
      </mat-form-field>

      <!-- Preço de Custo -->
      <mat-form-field appearance="outline">
        <mat-label>Preço de Custo</mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>
        <input matInput type="number" [value]="product.proPrecoCusto" disabled>
      </mat-form-field>

      <!-- Preço de Venda -->
      <mat-form-field appearance="outline">
        <mat-label>Preço de Venda</mat-label>
        <mat-icon matPrefix>price_check</mat-icon>
        <input matInput type="number" [value]="product.proPrecoVenda" disabled>
      </mat-form-field>

      <!-- Descrição -->
      <mat-form-field appearance="outline" class="campo full-width">
        <mat-label>Descrição</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <textarea matInput [value]="product.proDescricao" disabled></textarea>
      </mat-form-field>

      <!-- Categoria -->
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <input matInput [value]="product.proCategoria" disabled>
      </mat-form-field>

      <!-- Código de Barras -->
      <mat-form-field appearance="outline">
        <mat-label>Código de Barras</mat-label>
        <mat-icon matPrefix>qr_code_scanner</mat-icon>
        <input matInput [value]="product.proCodigoBarras" disabled>
      </mat-form-field>

      <!-- Marca -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Marca</mat-label>
        <mat-icon matPrefix>branding_watermark</mat-icon>
        <input matInput [value]="product.proMarca" disabled>
      </mat-form-field>

      <!-- Unidade de Medida -->
      <mat-form-field appearance="outline">
        <mat-label>Unidade de Medida</mat-label>
        <mat-icon matPrefix>straighten</mat-icon>
        <input matInput [value]="product.proUnidadeMedida" disabled>
      </mat-form-field>

      <!-- Produto Ativo -->
      <mat-form-field appearance="outline">
        <mat-label>Produto Ativo?</mat-label>
        <mat-icon matPrefix>check_circle</mat-icon>
        <input matInput [value]="product.proAtivo ? 'Sim' : 'Não'" disabled>
      </mat-form-field>

      <!-- Fornecedor -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fornecedor</mat-label>
        <mat-icon matPrefix>store</mat-icon>
        <input matInput [value]="product.fornecedor?.forId" disabled>
      </mat-form-field>
      
      <!-- Data de Cadastro -->
      <mat-form-field appearance="outline">
        <mat-label>Data de Cadastro</mat-label>
        <mat-icon matPrefix>calendar_today</mat-icon>
        <input matInput [value]="(product.proDataCadastro | date:'dd/MM/yyyy')" disabled>
      </mat-form-field>

      <!-- Data de Atualização -->
      <mat-form-field appearance="outline">
        <mat-label>Data de Atualização</mat-label>
        <mat-icon matPrefix>update</mat-icon>
        <input matInput [value]="(product.proDataAtualizacao | date:'dd/MM/yyyy')" disabled>
      </mat-form-field>
      <div class="botoes">
      <!-- Botões -->
      <button class="btnExcl" (click)="deleteProduct()" color="primary">
        Excluir
      </button>

      <button class="btnCancel" (click)="cancel()">
        Cancelar
      </button>
      </div>
    </form>
  </div>
</mat-card>
